/* use media queries to apply different styling for different device / media https://goo.gl/lQ2yft */
/* minify for optimised loading https://www.minifier.org/ */

body {
    background-image: url(assets/james_sweden3-ipad_size.png);
    opacity: 1;
    margin: 0;
}

h1 {
	//background-color: white;
  opacity: 0.78;
	//font-size: 64;
  //border-style: dotted;
}

.logoone {
width: 367px;
height: 223px;
position: relative;
top: -23px;
resize: both;
opacity: 0.73;
}

.logotwo {
width: 365px;
height: 205px;
resize: both;
position: absolute;
z-index: 0;
left: 1px;
top: 10px;
/*
left: -374px;
top: -29px;
*/
opacity: 0.79;
}

.playbutt {
  width: 21px;
  height: 21px;
  position: absolute;
  //top: -200;
  resize: both;
  background-color: white;
  border-style: hidden;
}
